! Command: show running-config
no aaa root
!
username admin role network-admin secret sha512 $6$d7MAbjoz4WqsDZxT$L18dUozbRsku0ezpLgm9gDA0K6bDjgR3h.PrmVJHRLt0CFlMiyFeVAdZxu3YlfqX.gn7ADfbbzZO/86nulvfr1
!
transceiver qsfp default-mode 4x10G
!
service routing protocols model multi-agent
!
spanning-tree mode mstp
!
system l1
   unsupported speed action error
   unsupported error-correction action error
!
management api http-commands
   protocol unix-socket
   no shutdown
!
management api gnmi
   transport grpc default
!
management api netconf
   transport ssh default
!
{% include './eos/hostname.j2' %}
!
{% include './eos/interfaces.j2' %}
!
end
