! Command: show running-config
no aaa root
!
username admin role network-admin
!
transceiver qsfp default-mode 4x10G
!
service routing protocols model multi-agent
!
spanning-tree mode mstp
!
system l1
   unsupported speed action error
   unsupported error-correction action error
!
management api http-commands
   protocol unix-socket
   no shutdown
!
management api gnmi
   transport grpc default
!
management api netconf
   transport ssh default
!
ip routing
!
{% include './eos/hostname.j2' %}
!
{% include './eos/interfaces.j2' %}
!
{% include './eos/ospfRouter.j2' %}
!
end
