{% for interface in interfaces %}
{% for taggedVlan in interface['tagged_vlans'] %}
{% include './eos/vlan.j2' %}
{% endfor %}
{% endfor %}
{% for interface in interfaces %}
!
{% if 'Ethernet' in interface["name"] %}
interface Ethernet{{ loop.index }}
{% include './eos/ethernetInterface.j2' %}
{% elif 'Switch' in interface["name"] %}
interface Ethernet{{ loop.index }}
{% include './eos/switchInterface.j2' %}
{% elif 'Loop' in interface["name"] %}
{% include './eos/loopbackInterface.j2' %}
{% elif 'Vxlan' in interface["name"] %}
{% include './eos/VxlanInterface.j2' %}
{% elif 'Manage' in interface["name"] %}
interface Management1
{% include './eos/ManagementInterface.j2' %}
{% endif %}
{% endfor %}
