!
router ospf 1
{% for interface in interfaces %}
{% if "Loop" in interface["name"] %}
{% if interface["ip_addresses"] | length > 0 %}
{% for addr in interface["ip_addresses"] %}
{% if addr["address"] is defined %}
    router-id {{ addr["address"] }}
{% endif %}
{% endfor %}
{% endif %}
{% endif %}
{% endfor %}

