interface Ethernet{{ loop.index }}
{% if interface['mac_address'] %}
    mac-address {{interface['mac_address']}}
{% endif %}
{% if interface['tagged_vlans'] %}
    switchport access vlan {{interface['tagged_vlans'][0]['vid']}}
{% elif interface['untagged_vlan'] is defined %}
    switchport access vlan {{interface['untagged_vlan']['vid']}}
{% endif %}

